REACT_APP_RESUME_URL=
REACT_APP_FALL_DETECTION_DEPLOY_URL=
REACT_APP_ECOMMERCE_DEPLOY_URL=
REACT_APP_COPEFORCES_DEPLOY_URL=
REACT_APP_RECIPE_BLOG_DEPLOY_URL=
REACT_APP_GRAPHICS_LAB_DEPLOY_URL=
REACT_APP_DLSD_PROJECT_DEPLOY_URL=
